<!DOCTYPE html>
<html>
<head>
    <title>Time Series Forecast</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body style="background-color:whitesmoke;font-family:'Segoe UI'">

    <h3>File upload successful!</h3>
    <p>Parameters passed:</p>
    <p>Time Column: {parameters_dict['time_col']}</p>
    <p>Value Column: {parameters_dict['value_col']}</p>
    <p>Forecast Length: {parameters_dict['pred_length']}
    <h3>Press refresh button to see the forecast plot!</h3>
    <br>
    <p>Refresh page for another forecast!</p>

    <!-- <form action='http://localhost:5000/'><center><input type='submit' value='Another forecast'></center></form> -->

</body>
</html>